<div class="dbmnContainer">
  <div class="pgHdWrpr d-flex align-items-start justify-content-between">
    <h2 class="pgHdr">AMC</h2>
    <a class="btn primButton" href="<%= new_amc_request_path %>">New AMC</a>
  </div>
  <div class="srchSpce mt-5 d-flex align-items-center justify-content-between">
    <div class="srchWrpr d-flex align-items-center">
      <span class="material-icons">search</span>
      <input type="search">
    </div>
    <button class="btn outlButton smlBtn">
      <img src="/assets/export_icon.svg" alt="">
      Export
    </button>
  </div>
  <table class="table cstmTable">
    <thead>
      <tr>
        <th>Client</th>
        <th>Invoice</th>
        <th>Order</th>
        <th>AMC Type</th>
        <th>From</th>
        <th>To</th>
        <th>Terms</th>
        <th>AMC Request</th>
        <th>Notes</th>
        <th>User</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>The Universal Systems</td>
        <td>EST/01/2021</td>
        <td>01</td>
        <td>Limited AMC</td>
        <td>15-12-2021 15:20 UTC</td>
        <td>15-12-2021 15:20 UTC</td>
        <td>Lorem ipsum dolor sit amet</td>
        <td>0</td>
        <td>Lorem ipsum dolor sit amet</td>
        <td>Jhonson</td>
        <td style="vertical-align: middle;">
          <a href="" class="mr-4">Show</a>
          <a href="" class="mr-4">Edit</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>