<div class="dbmnContainer">
  <button class="btn bckBtn"><img src="./images/backIcon.svg" alt="">Back</button>
  <div class="pgHdWrpr">
    <h2 class="pgHdr">Add Branch</h2>
  </div>
  <div class="formWrapper">
    <form action="">
      <div class="frmHdr">Branch Details</div>
      <div class="row">
        <div class="col-6">
          <div class="inptWrpr">
            <label class="cstmLbl">Branch Name</label>
            <input type="text" placeholder="Enter Branch Name">
          </div>
        </div>
        <div class="col-6">
          <div class="inptWrpr">
            <label class="cstmLbl">GSTIN</label>
            <input type="text" placeholder="Enter GSTIN">
          </div>
        </div>
        <div class="col-6">
          <div class="inptWrpr">
            <label class="cstmLbl">Email</label>
            <input type="text" placeholder="Enter Email Address">
          </div>
        </div>
        <div class="col-6">
          <div class="inptWrpr">
            <label class="cstmLbl">Mobile Number</label>
            <input type="text" placeholder="Enter Mobile Number">
          </div>
        </div>
        <div class="col-6">
          <div class="inptWrpr">
            <label class="cstmLbl">Address Line 1</label>
            <input type="text" placeholder="Enter Address Line 1">
          </div>
        </div>
        <div class="col-6">
          <div class="inptWrpr">
            <label class="cstmLbl">Address Line 2</label>
            <input type="text" placeholder="Enter Address Line 2">
          </div>
        </div>
        <div class="col-6">
          <div class="inptWrpr">
            <label class="cstmLbl">City</label>
            <input type="text" placeholder="Enter City">
          </div>
        </div>
        <div class="col-6">
          <div class="inptWrpr">
            <label class="cstmLbl">State</label>
            <select name="" id="">
              <option value="">Please Select State</option>
              <option value="">State_two</option>
              <option value="">State_three</option>
            </select>
          </div>
        </div>
        <div class="col-6">
          <div class="inptWrpr">
            <label class="cstmLbl">Country</label>
            <select name="" id="">
              <option value="">Please Select Country</option>
              <option value="">Country_two</option>
              <option value="">Country_three</option>
            </select>
          </div>
        </div>
        <div class="col-6">
          <div class="inptWrpr">
            <label class="cstmLbl">Zipcode</label>
            <input type="text" placeholder="Enter Zipcode">
          </div>
        </div>
      </div>
      <div class="fmBtnWrpr">
        <button class="btn outlButton">Cancel</button>
        <button class="btn primButton">Add</button>
      </div>
    </form>
  </div>
</div>