<div class="dbmnContainer">
  <a class="btn bckBtn"><img src="/assets/backIcon.svg" alt="">Back</a>
  <div class="pgHdWrpr">
    <h2 class="pgHdr">Add Model</h2>
  </div>
  <div class="formWrapper">
    <form action="">
      <div class="row">
        <div class="col-12">
          <div class="inptWrpr">
            <label class="cstmLbl">Model Name</label>
            <input type="text" placeholder="Enter Model Name">
          </div>
        </div>
        <div class="col-3">
          <div class="inptWrpr">
            <label class="cstmLbl">Input Range</label>
            <input type="text" placeholder="Enter Input Range">
          </div>
        </div>
        <div class="col-3">
          <div class="inptWrpr">
            <label class="cstmLbl">Output Range</label>
            <input type="text" placeholder="Enter Output Range">
          </div>
        </div>
        <div class="col-3">
          <div class="inptWrpr">
            <label class="cstmLbl">Frequency</label>
            <input type="text" placeholder="Enter Frequency">
          </div>
        </div>
        <div class="col-3">
          <div class="inptWrpr">
            <label class="cstmLbl">Protections</label>
            <input type="text" placeholder="Enter Protection">
          </div>
        </div>
        <div class="col-3">
          <div class="inptWrpr">
            <label class="cstmLbl">Kva</label>
            <input type="text" placeholder="Enter Kva">
          </div>
        </div>
        <div class="col-3">
          <div class="inptWrpr">
            <label class="cstmLbl">Optional</label>
            <input type="text" placeholder="Enter Optional">
          </div>
        </div>
        <div class="col-3">
          <div class="inptWrpr">
            <label class="cstmLbl">HSN</label>
            <input type="text" placeholder="Enter HSN">
          </div>
        </div>
        <div class="col-3">
          <div class="inptWrpr">
            <label class="cstmLbl">Price</label>
            <input type="text" placeholder="Enter Price">
          </div>
        </div>
        <div class="col-12">
          <div class="inptWrpr">
            <label for="">Image</label>
            <div class="upldWrpr">
              <input type="file">
              <img src="/assets/upload_image.svg" alt="">
              <p class="m-0 mt-2">Click here to upload</p>
            </div>
          </div>
          <div class="row">
            <div class="col-2">
              <div class="upldImgCnt">
                <button type="button" class="btn clsBtn"><img src="/assets/closeIcon.svg"
                  alt=""></button>
                  <img class="upldngImg" src="/assets/sample_image.jpg" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="fmBtnWrpr">
          <button class="btn outlButton">Cancel</button>
          <button class="btn primButton">Add</button>
        </div>
      </form>
    </div>
  </div>