<div class="dbmnContainer">
  <div class="pgHdWrpr d-flex align-items-start justify-content-between">
    <h2 class="pgHdr">Department</h2>
    <button class="btn primButton">New Department</button>
  </div>
  <table class="table cstmTable">
    <thead>
      <tr>
        <th>Department Name</th>
        <th style="width: 20%;">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Admin</td>
        <td>
          <button class="btn p-0 pb-1 material-icons text-danger m-0">delete</button>
        </td>
      </tr>
      <tr>
        <td>Admin</td>
        <td>
          <button class="btn p-0 pb-1 material-icons text-danger m-0">delete</button>
        </td>
      </tr>
      <tr>
        <td>Admin</td>
        <td>
          <button class="btn p-0 pb-1 material-icons text-danger m-0">delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>