<div class="dbmnContainer">
  <div class="pgHdWrpr d-flex align-items-start justify-content-between">
    <h2 class="pgHdr">Department</h2>
    <a class="btn primButton" href="<%= new_department_path %>">New Department</a>
  </div>
  <table class="table cstmTable">
    <thead>
      <tr>
        <th>Department Name</th>
        <th style="width: 20%;">Action</th>
      </tr>
    </thead>
    <tbody>
      <% @departments.each do |department| %>
      <tr>
        <td><%= department.name %></td>
        <td>
          <a href="<%= edit_department_path(department) %>" class="mr-4">Edit</a>
        </td>
      </tr>
      <% end %>   
    </tbody>
  </table>
</div>