<div class="dbmnContainer">
  <div class="pgHdWrpr d-flex align-items-start justify-content-between">
    <h2 class="pgHdr">Clients</h2>
  </div>
  <div class="srchSpce mt-5 d-flex align-items-center justify-content-between">
    <div class="srchWrpr d-flex align-items-center">
      <span class="material-icons">search</span>
      <input type="search">
    </div>
  </div>
  <table class="table cstmTable">
    <thead>
      <tr>
        <th>Sl. No.</th>
        <th>Invoice</th>
        <th>Client</th>
        <th>Workflow</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>01</td>
        <td>INV/01/2020</td>
        <td>Universal Electronic Enterprises</td>
        <td>
          <a href="">View</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>